.SearchInputContainer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 3px;
  width: 220px;
  height: 32px;
}

.SearchInput {
  flex-grow: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  margin-left: var(--spacing-8);
  color: rgba(255, 255, 255, 0.5);
}

.SearchInput::placeholder {
  font-family: var(--font-family);
  color: rgba(255, 255, 255, 0.5);
}

.SearchIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-lg);;
  height: var(--size-lg);;
}

.SearchIcon {
  width: var(--size-mid);;
  height: var(--size-mid);;
}
